.event-modal{
    display: none;
}

.overlay{
    width: 100% !important;
    height: 100% !important;
    background-color: rgb(179, 179, 179, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    overflow: auto;
}

.modal-div{
    background-color: white;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 10%;
}

.heading{
    margin-left: 20%;
    font-size: 3rem;
}