.event-modal{
    display: none;
}

.overlay{
    width: 100% !important;
    height: 100% !important;
    background-color: rgb(179, 179, 179, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    overflow: auto;
}

.modal-div{
    background-color: white;
    width: 35%;
    margin: auto;
    margin-top: 6%;
}

.modal-header{
    background-color: #C72F2E;
    width: 100%;
    height: 6.5rem !important;
}

.heading{
    font-size: 3rem;
    color: white;
    margin-top: 0.1rem;
    margin-left: 45%;
}

.close-modal{
    color: white;
    font-size: 2rem;
    margin-left: 70%;
}

.close-modal:hover{
    font-size: 2.3rem;
}

.event-form{
    padding-left: 10%;
    margin-top: 4%;
}

.form-button{
    background-color: #C72F2E;
    border: none;
    color: white;
    border-radius: 0.3125rem;
    padding: 2%;
    width: 49%;
    font-size: 1.5rem;
    margin-top: 4%;
    margin-left: 1%;
}

.checkbox-label{
    position: relative;
    margin-left: 23%;
}

input[type="checkbox"]{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 15%;
}

.form-button:hover{
    color: white;
    box-shadow: 0 0.3125rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.5625rem 1.625rem 0 rgba(0, 0, 0, 0.19);
    font-size: 1.6rem;
}

.color-picker-button{
    background-color: rgb(216, 216, 216);
    border: none;
    color: black;
    border-radius: 0.3125rem;
    padding: 0.7rem;
    font-size: 1.5rem;
    width: 100%;
}

.color-picker-button:hover{
    background-color: rgb(180, 180, 180);
}
    
.dashfolio-tag {
    cursor:pointer;
    background-color: rgb(0, 150, 177);
    padding: 5px 10px 5px 10px;
    display: inline-block;
    margin-top: 3px;
    color:#fff;
    padding-right: 20px;
    margin-right: 4px;
    border-radius: 4px;
    width: 100%;
}

.dashfolio-tag:hover{
    opacity:0.7;
}

.tags:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}