.navbar-default {
  margin-bottom: 0 !important;
}

.img{
  margin-top: 5%;
  background-image: url("../../images/abstract-background-design_1297-82.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.2rem 0.2rem 0 0;
  height: 6.4rem;
}

.main-container{
  margin-top: 2%;
  position: fixed;
  width: 81% !important;
  height: 88%;
  margin-left: 17% !important;
  background-color: white;
  box-shadow: 0 0.3125rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.5625rem 1.625rem 0 rgba(0, 0, 0, 0.19);
}

.heading{
  margin-left: 1%;
  color: black;
  z-index: 2000;
}

.no-events{
  margin: auto;
  z-index: 2000;
  text-align: center;
}

.no-events h2{
  color: red;
}

.box-part{
  background-color: rgb(221, 221, 221);
  border-radius: 0 0 0.125rem 0.125rem;
  padding: 4% 5% 4% 5%;
  box-shadow: 0 0.3125rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

em{
  font-size: 3rem;
}

.icon-container{
  background-color: white;
  border-radius: 50%;
  width: 14%;
  height: 4.8rem !important;
  margin: auto;
}

.icon-container em{
  margin-top: 17%;
  margin-left: 23%;
}

.clearfix{
  height: 0.75rem !important;
}

.title{
  margin-top: 4%;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 3%;
}

.item-heading{
  font-size: 1.6rem;
}

.attendees-icon{
  margin-left: 70%;
}

.attendees-icon em:hover{
  color: rgb(107, 107, 107);
}