.navbar-default {
    margin-bottom: 0 !important;
}

/* Sidebar Styles */
#wrapper.toggled #sidebar-wrapper {
    
    width: 15%;
    min-width: 90px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 15%;
    height: 100%;
    overflow-y: auto;
    background: #e7e7e7;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    left: 0;
    float: left;
}

.sidebar-nav {
    width: 15%;
    min-width: 90px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
  }
  
  .sidebar-nav li a {
    text-decoration: none;
    color: #000000;
  }
  
  .sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #C72F2E;
  }
  
  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }
  
  .sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
  }
  
  .sidebar-nav>.sidebar-brand a {
    color: #999999;
  }
  
  .sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
  }