.navbar-default {
  margin-bottom: 0 !important;
}

.container {
  width: 100%;
  min-width: 25.625rem;
  display: flex;
}


  #calendar {
    padding: 9%;
    background: white;
    box-shadow: 0 0.3125rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.5625rem 1.625rem 0 rgba(0, 0, 0, 0.19);
    height: 87vh;
    overflow: hidden;
    padding-top: 3%;
    margin-top: 1.25rem;
  }

  .fc button {
    color: white;
    background-color: #C72F2E;
    border-radius: 0;
  }

  .fc-state-default {
    background-image: none !important;
    /* background: #C72F2E; */
  }

  .fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
    background-color: rgb(152, 31, 31);
  }

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-image: url("../../images/abstract-background-design_1297-82.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  top: 45%;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 45%; opacity: 1}
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}