.navbar-default {
    margin-bottom: 0 !important;
}

.main-container{
    margin-top: 2%;
    position: fixed;
    width: 81% !important;
    height: 88%;
    margin-left: 17% !important;
    background-color: white;
    box-shadow: 0 0.3125rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.5625rem 1.625rem 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
}

.heading{
    margin-left: 1%;
}

.no-invites{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

.no-invites h2{
    color: red;
}

.box-part{
    background-color: rgb(221, 221, 221);
    border-radius: 0.125rem;
    padding: 1%;
    padding-left: 2%;
    padding-top: 1%;
    margin-top: 1.4%;
    height: 8rem !important;
    box-shadow: 0 0.3125rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

em{
    font-size: 3.2rem;
}

.icon-container{
    background-color: white;
    border-radius: 50%;
    width: 65%;
    height: 6rem !important;
}

.icon-container em{
    margin-top: 25%;
    margin-left: 23%;
}

.title{
    font-size: 1.25rem;
    margin-top: 1%;
}

.button{
    color: white;
    background-color: #C72F2E;
    border: none;
    border-radius: 0.3125rem;
    padding: 2% 5% 2% 5%;
    margin-left: 8%;
    font-size: 1.7rem;
}

.button:hover{
    box-shadow: 0 0.3125rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

p{
    font-size: 1.8rem;
}