.login-container{
    margin: auto;
    margin-top: 9%;
    position: relative;
}

.login-form{
    padding: 9%;
    background: white;
    box-shadow: 0 0.3125rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.5625rem 1.625rem 0 rgba(0, 0, 0, 0.19);
    height: 37.5rem;
    padding-top: 4%;
}

.img{
    padding: 9%;
    background-image: url("../../images/abstract-background-design_1297-82.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0.3125rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.5625rem 1.625rem 0 rgba(0, 0, 0, 0.19);
    position: relative;
    height: 37.5rem;
}

.logo{
    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 18.75rem;
    height: 6.25rem;
}

.hive-image{
    width: 44%;
    height: 14%;
    background-image: url("../../images/hive.png");
    background-repeat: no-repeat;
    background-size: cover;
    float: none;
    margin: 0 auto;
    margin-top: 14%;
}

.btnSubmit{
    font-weight: 600;
    width: 100%;
    color: white;
    background-color: #C72F2E;
    border: none;
    border-radius: 0.3125rem;
    padding: 2%;
    margin-top: 1.875rem;
}

.btnSubmit:hover{
    color: white;
    box-shadow: 0 0.3125rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.5625rem 1.625rem 0 rgba(0, 0, 0, 0.19);
}

p{
    color: grey;
    text-align: center;
    margin-top: 4%;
}

a{
    color: grey;
}

a:hover{
    color: grey;
    text-decoration: none;
    font-size: 1rem;
}

label{
    color: red;
}