<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Grand Plan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8;" />
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    <div th:fragment="modal-fragment" class="modal-div">
        <div class="modal-header">
            <h1 class="heading">Create Event</h1>
        </div>
        <div class="row">
            <form class="col-md-11 event-form" autocomplete="off" role="form">
                <div class="form-group">
                    <input type="text" id="title" class="form-control" placeholder="Title" value="" />
                </div>
                <div class="form-group">
                    <textarea type="text" id="description" class="form-control" placeholder="Description"
                        value=""></textarea>
                </div>
                <div class="form-group">
                    <input type="text" id="members" class="form-control" placeholder="Members" value="" />
                </div>
                <!-- calendar display -->
                <div class="form-group">
                    <input type="text" id="availability" class="form-control" placeholder="availability" value="" />
                </div>
                <br />
                <div class="row">
                    <div class="form-group col-md-5">
                        <label>Start Date</label>
                        <input type="date" id="start" class="form-control" value="" />
                    </div>
                    <div class="form-group col-md-5">
                        <label>End Date</label>
                        <input type="date" id="end" class="form-control" value="" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>All Day</label>
                        <input type="checkbox" id="allDay" class="form-control" value="" />
                    </div>
                </div>
                <br />
                <label>Events Extras</label>
                <div class="form-group">
                    <input type="text" id="tag" class="form-control" placeholder="Tags" value="" />
                    <div id="tags" class="tags"></div>
                </div>
                <div class="form-group">
                    <input type="text" id="color" class="form-controle" value="" hidden />
                    <button class="color-picker-button" id="color-picker">Set color for this event</button>
                </div>
                <br />
                <button type="submit" class="form-button">Create </button><button class="form-button"
                    id="close-create">Cancel</button>
                <br /><br />
            </form>
        </div>
    </div>
</body>

</html>