<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Grand Plan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8;" />
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- //Might need to delete these bottom 3 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    
    <div th:fragment="modal-fragment" class="modal-div">
        <div class="modal-header">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="heading">Create Event</h1>
                </div>
                <div class="col-md-2"><label id="close-modal" class="close-modal">x</label></div>
            </div>
        </div>
        <div class="row">
            <form class="col-md-11 event-form" autocomplete="off">
                <div class="form-group">
                    <input type="text" id="title" class="form-control" placeholder="Title" value="" />
                    <label class="error-label" id="titleError">Please provide a title for this event</label>
                </div>
                <div class="form-group">
                    <textarea type="text" id="description" class="form-control" placeholder="Description"
                        value=""></textarea>
                    <label class="error-label" id="descriptionError">Please provide a description for this event</label>
                </div>
                <div class="form-group">
                    <input type="text" id="members" class="form-control" autocomplete="on" placeholder="Members"
                        value="" />
                    <div id="invitedUsers" class="tags"></div>
                </div>
                <br />
                <div class="row">
                    <div id="eventCreateCalendar" class="col-md-6"></div>
                    <div class="col-md-6 dates">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Start Date</label>
                                <input type='datetime-local' class="form-control" id="start" value="" />
                                <label class="error-label" id="startError">Please select a start date and time</label>
                            </div>
                            <div class="form-group col-md-12 end">
                                <label>End Date</label>
                                <input type='datetime-local' class="form-control" id="end" value="null" />
                                <label class="error-label" id="endError">Please select an end date and time</label>
                            </div>
                        </div>
                        <div class="form-group checkbox">
                            <label>
                                <input type="checkbox" value="" class="form-control" id="allDay" />
                                <span class="cr"><em class="cr-icon glyphicon glyphicon-ok"></em></span>
                                Is this event all Day?
                            </label>
                        </div>
                        <div class="row extras">
                            <div class="form-group col-md-12">
                                <input type="text" id="tag" class="form-control" placeholder="Tags" value="" />
                                <div id="tags" class="tags"></div>
                            </div>
                            <div class="form-group col-md-12 color">
                                <input type="text" id="color" class="form-control" value="" hidden />
                                <button class="color-picker-button" id="color-picker">Set color for this event</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="form-button" id="create-event" style="margin-left: 17%;">Create </button><button
                    class="form-button" id="close-create" style="margin-left: 5%;">Cancel</button>
                <br /><br /><br />
            </form>
        </div>
    </div>

</body>

</html>