<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Grand Plan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8;" />
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    <div th:fragment="modal-fragment" class="modal-div">
        <h1 class="heading">Create Event</h1>
        <div class="row">
            <form class="col-md-6 login-form" autocomplete="off" method="post" role="form">
                <div class="form-group">
                    <input type="text" id="title" class="form-control" placeholder="Title" value="" />
                </div>
                <div class="form-group">
                    <input type="text" id="description" class="form-control" placeholder="Description" value="" />
                </div>
                <div class="form-group">
                    <input type="text" id="members" class="form-control" placeholder="Members" value="" />
                </div>
                <!-- calendar display -->
                <div class="form-group">
                    <input type="text" id="availability" class="form-control" placeholder="availability" value="" />
                </div>
                <div class="form-group">
                    <input type="date" id="start" class="form-control" placeholder="Start Date" value="" />
                </div>
                <div class="form-group">
                    <input type="date" id="end" class="form-control" placeholder="End Date" value="" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="allDay" class="form-control" placeholder="All Day" value="" />
                </div>
                <div class="form-group">
                    <input type="text" id="label" class="form-control" placeholder="label" value="" />
                </div>
                <button type="submit" class="btn btnSubmit">Create </button><button>Cancel</button>
            </form>
        </div>
    </div>
</body>

</html>