<!DOCTYPE HTML>
<html>

<head>
    <title>Page not found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/error.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 red">
                <div class="img"></div>
            </div>
            <div class="col-md-6 white">
                <div class="message">
                    <h1>OOPS</h1>
                    <h3>Something went wrong</h3>
                    <form action="login">
                        <button type="submit">Back to Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>