<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www. .org">

<head>
    <title>Grand Plan | Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/events.css" rel="stylesheet">
    <link href="/css/events-sidenav.css" rel="stylesheet">
    <link href="/css/create-event.css" rel="stylesheet">
    <link href="/css/color-picker.css" rel="stylesheet">
    <link href="/css/modal.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.3/css/bootstrap-colorpicker.min.css"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
</head>

<body style="background-color: #C4C4C4;">
    <nav class="navbar navbar-default">
        <div th:insert="top-nav :: top-nav"></div>
        <div class="container main-container">
            <div class="row">
                <h1 class="heading" th:if="${heading}" th:text="${heading}"></h1>
                <div class="no-events" th:if="${noEvents}">
                    <h2 th:text="${noEvents}"></h2>
                </div>
                <div th:if="${events}" th:each="event : ${events}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div th:attr="id = ${event.id}">
                        <div class="img">
                            <div class="clearfix"></div>
                            <div class="icon-container"><em class="far fa-calendar-alt"></em></div>
                        </div>
                        <div class="box-part text-center">
                            <div class="title">
                                <label th:text="${event.title}"></label>
                            </div>
                            <div>
                                <label class="item-heading">Date: &nbsp</label><label
                                    th:text="${(event.start).substring(0, 10)}"></label>
                            </div>
                            <div>
                                <label class="item-heading">Time: &nbsp</label><label><label
                                        th:text="${(event.start).substring(11, 19)}"></label> -
                                    <label th:text="${(event.end).substring(11, 19)}"></label></label>
                            </div>
                            <br />
                            <div>
                                <span class="members"><em class="fas fa-users"></em></span>&nbsp&nbsp<span
                                    th:if="${event.hostUsername == user.email}" class="updateEvent update"><em
                                        class="fas fa-edit"></em><input style="display: none"
                                        th:attr="value = ${event}" />
                                </span><span class="deleteEvent trash"><em class="fas fa-trash-alt"></em><input
                                        style="display: none" th:attr="value = ${event.id}" /></span>
                            </div>
                        </div>
                    </div>
                    <div th:attr="class = ${event.id}" style="display: none; text-align: center; position: fixed;">
                        <button class="delete-button transferEvent" th:if="${event.hostUsername == user.email}">Transfer
                            event to another member<input style="display: none"
                                th:attr="value = ${event.title}" /></button>
                        <button class="delete-button removeEvent">Delete
                            entire event</button>
                        <button class="cancel-button"><input style="display: none"
                                th:attr="value = ${event.id}" />Cancel</button>
                    </div>
                    <div th:attr="class = ${event.title}" style="display: none; text-align: center; position: fixed;">
                        <label>Transfer event to another member</label>
                        <input type="text" placeholder="Email of member" class="email-input" />
                        <input style="display: none" th:attr="value = ${event.id}" /><br />
                        <button class="transfer-event">Transfer event</button><br />
                        <button class="cancel-delete-button"><input style="display: none"
                                th:attr="value = ${event.id}" />Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div th:insert="events-sidenav :: navbar" class="container home-container"></div>
    <div th:insert="create-event :: modal-fragment" class="event-modal overlay" id="events-modal"></div>
    <div th:if="${messageModal}" id="modal" th:insert="modal :: modal-fragment" class="overlay"></div>
</body>
<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
</link>


<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.3/js/bootstrap-colorpicker.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="/js/events.js"></script>
<script type="text/javascript" src="/js/add-tags.js"></script>
<script type="text/javascript" src="/js/create-event.js" th:inline="javascript"></script>
<script type="text/javascript" src="/js/delete-event.js" th:inline="javascript"></script>

<script type="text/javascript">
    function closeModal() {
        $('#modal').css('display', 'none');
    }
</script>

</html>