<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www. .org">

<head>
    <title>Grand Plan | Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/events.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <script th:src="@{http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js}"></script>
</head>

<body style="background-color: #C4C4C4;">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Grand Plan</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/events">Events</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false"><span
                                th:text="${user.getFirstName()}"></span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container main-container">
            <div class="row">
                <h1 class="heading" th:if="${heading}" th:text="${heading}"></h1>
                <div th:each="event : ${events}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="img">
                        <div class="clearfix"></div>
                        <div class="icon-container"><i class="far fa-calendar-alt"></i></div>
                    </div>
                    <div class="box-part text-center">
                        <div class="title">
                            <label th:text="${event.title}"></label>
                        </div>
                        <div>
                            <label class="item-heading">Date: &nbsp</label><label th:text="${event.date}"></label>
                        </div>
                        <div>
                            <label class="item-heading">Time: &nbsp</label><label><label
                                    th:text="${event.start}"></label> -
                                <label th:text="${event.end}"></label></label>
                        </div>
                        <div class="attendees-icon">
                            <span><i class="fas fa-users"></i></span>&nbsp&nbsp<span onclick="openInfoModal()"><i
                                    class="fas fa-info-circle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container home-container">
        <div id="wrapper" class="sidebar-toggle">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="active"><i class="far fa-calendar-alt custom-icon"></i><a href="/events">Your Events</a>
                    </li>
                    <li><i class="fas fa-users custom-icon"></i><a href="#">Group Events</a> </li>
                    <li><i class="far fa-envelope custom-icon"></i><a href="/invites">Invites</a> </li>
                    <li><i class="fas fa-plus-circle custom-icon"></i><a href="#">Create an Event</a> </li>
                </ul>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('click', '.sidebar-nav a', function (e) {
            $(this).parent().addClass('active').siblings().removeClass('active');
        });
    });
</script>

</html>