<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sidenav</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/create-event.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    <div th:fragment="navbar">
        <div id="wrapper" class="sidebar-toggle">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li id="events" class="active"><em class="far fa-calendar-alt custom-icon"></em><a
                            href="/events">Your Events</a>
                    </li>
                    <li><em class="fas fa-users custom-icon"></em><a href="#">Group Events</a> </li>
                    <li id="invites"><em class="far fa-envelope custom-icon"></em><a href="/invites">Invites</a> </li>
                    <button id="createEvent" class="create-event-button">Create event</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>