<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sidenav</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <script th:src="@{http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js}"></script>
</head>

<body>
    <div th:fragment="modal-fragment" class="modal-container text-center">
        <div class="modal-header">
            <i onclick="closeModal()" class="far fa-times-circle"></i>
        </div>
        <h3 th:text="${messageModal}"></h3>
        <button class="modal-button"><a th:text="${button}" th:href="${button}"></a></button>&nbsp&nbsp<button
            onclick="closeModal()" class="modal-button">Close</button>
    </div>
</body>

</html>