<!DOCTYPE HTML>
<html>

<head>
    <title>Grand Plan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/signup.css" rel="stylesheet">
</head>

<body style="background-color: #C4C4C4;">
    <div class="container signup-container">
        <div class="row">
            <form class="col-md-8 signup-form" method="post" action="validate">
                <div class="logo"></div>
                <div class="col-md-6 form-group" style="margin-top: 10% !important">
                    <input type="text" id="firstName" class="form-control" placeholder="First Name" value="" />
                </div>
                <div class="col-md-6 form-group" style="margin-top: 10% !important">
                    <input type="text" id="lastName" class="form-control" placeholder="Last Surname" value="" />
                </div>
                <div class="col-md-6 form-group" style="margin-top: 1% !important">
                    <input type="text" id="email" class="form-control" placeholder="Email Address" value="" />
                </div>
                <div class="col-md-6 form-group" style="margin-top: 1% !important">
                    <input type="text" id="phone" class="form-control" placeholder="Phone Number" value="" />
                </div>
                <div class="col-md-6 form-group" style="margin-top: 1% !important">
                    <input type="password" id="password" class="form-control" placeholder="Password" value="" />
                </div>
                <div class="col-md-6 form-group" style="margin-top: 1% !important">
                    <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password"
                        value="" />
                </div>
                <button type="submit" class="btn btnSubmit">SIGN UP</button>
                <p>Already have an account? <a href="../login">LOGIN</a></p>
                <div class="hive-image"></div>
            </form>
            <div class="col-md-4 mh-100 img ">
            </div>
        </div>
    </div>
</body>

</html>